.mainContain{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    /* height: 1000px; */
    margin-top: -40px;
}

.centerContain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 800px;
    border-width: 100px;
    border-color: black;
}

.navMenu{
    margin: 20px 0px;
}

.flyCard{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 150px; /*or whatever size card you want*/
    border: 2px solid black;
    width: 200px;
    height: 300px;
    margin: 10px 10px;
}

.flyView{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.catName{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    /* text-align: center; */
}

.flyCardFinal{
    /* height: 250px; */
    padding: 0 !important;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 12%) 0px 26px 30px -10px,
      rgb(0 0 0 / 73%) 0px 16px 10px -10px;
      margin: 0 50px;
    border-color: black; 
    border-width: 2px; 
    background-color: #5cb9ff;
    text-decoration: none;
}

.finalView{
    width: 100%;/*whatever size you want your container*/
    /* border: 3px solid black; */
    display: flex; /*Make sure to call this on your container*/
    align-items: stretch; /*stretches all cards same height*/
    justify-content: space-around; /*some space between cards*/
    margin-top: 0px !important;
}

.finalName{
    text-align: center;
    margin-bottom: 8px;
    /* width: 468px !important; */
}

.finalImg{
    /* height: 287px; */
    /* height: auto; */
    max-height: 450px;
}

.class1{
    background-color: red;
    text-decoration:wavy;
}

.endSearch{
    font-size: x-large;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    margin: 20px 0;
    border-radius: 5px;
    transition: 120ms;
    background-color: white;
    padding: 20px 20px;
}

.someCard{
    text-decoration: none;
}

.separator{
    background-color: black;
    color: black;
    height: 5px;
    border-width: 1px;
    border-color: black;
}

.img1{
    height: 100px;
    border-radius: 2px;
}

.finalLink{
    text-decoration: none;
    color: white;
}

.restBut{

}

.description{
    /* background-color: #5cb9ff; */
    background-color: darkgreen;
    color: white;
    width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;

}

.description {
    @media (max-width: 500px) {
        margin-top: 20px;
        width: 350px;
        word-wrap: break-word;
      }
}
.description p {
    margin: 5px;

    @media (max-width: 500px) {
        margin-top: 20px;
        word-wrap: break-word;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }
}