.mainContain{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.topHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
