.mainContain{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.topHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.dataContain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.dataContain2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.finalView{
    display: flex;
}


.otherFlies{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10px;
}

.flyCardFinal{
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; */
    margin-bottom: 10px;
    margin-left: 5px;
}

.finalImg{
    max-height: 250px;
    margin: 0 10px;
    float: left;
    height: 200px;
    object-fit: cover;
}

.finalBugImg{
    float: left;

    height: 200px;
    object-fit: cover;}

.rightData{
    margin-left: 10px;
}

.otherFlies2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fliesToUse{
    font-size: larger;
    text-decoration: underline;
}

.separator{
    background-color: black;
    margin-left: 10px;
}

.findAnother{
    margin-top: 20px;
    height: 150px;
    width: 250px;
    font-size: x-large;
}

.findAnother:hover{
    cursor: pointer;
}